* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f8e8d0, #f5d7a1);
    color: #333;
    line-height: 1.6;
    }
    
    header {
    background-color: #a0522d;
    color: white;
    text-align: center;
    padding: 30px 20px;
    }
    
    header h1 {
    font-size: 2.5rem;
    }
    
    .hero {
    display: flex;
    justify-content: center;
    padding: 30px;
    }
    
    .hero img {
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    }
    
    section {
    padding: 40px 20px;
    text-align: center;
    }
    
    section h2 {
    margin-bottom: 20px;
    color: #8b4513;
    }
    
    .curiosidades ul {
    list-style: none;
    }
    
    .curiosidades li {
    margin: 10px 0;
    }
    
    .compartilhar .botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    }
    
    .btn {
    text-decoration: none;
    background-color: #d2691e;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
    }
    
    .btn:hover {
    background-color: #8b4513;
    }
    
    footer {
    background-color: #a0522d;
    color: white;
    padding: 20px;
    margin-top: 30px;
    }


 header {
    background-color: #a0522d;
    text-align: center;
    padding: 30px 20px;
    }
    
    header h1 {
    font-size: 2.5rem;
    }
    
    .hero {
    display: flex;
    justify-content: center;
    padding: 30px;
    }



.card {
    background-color: #fff3e0;
    padding: 25px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(139, 69, 19, 0.2);
}

.card ul {
    list-style: none;
    padding-left: 0;
}

.card li {
    margin: 10px 0;
}
